* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(40, 139, 185);
}

.block-menu {
    width: 100%;
    height: 160px;
    background-color: rgb(145, 32, 32);
}

.block {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
}

.block-left {
    width: 40%;
    height: 100%;
    background: rgb(1, 67, 247);
}

.block-right {
    width: 40%;
    height: 100%;
    background: rgb(1, 67, 247);
}

