* {
padding: 0;
margin: 0;
}

body{
    background: rgb(40, 139, 185);
}

.block-menu {
    width: 100%;
    height: 60px;
    background-color: black;
}
.block {
width: 100%;
height: 100%;
display: flex;
justify-content: space-between;
}
.block-left {
    width: 40%;
height: 100%;
}
.block-right {
    width: 40%;
height: 100%;
}
.block-footer {
}