* {
padding: 0;
margin: 0;
}

body{
    background: rgb(170, 47, 47);
}

.block{
    width: 100%;
    height: 100px;
    background: rgb(138, 138, 138);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.title{       
    font-size: 60px;
}


